
.wrapper {
        width: 100%;
        margin: auto;
        max-width: 990px;
  
     }

header { 

  height: 20px;
       border-bottom: 1px black solid;
       padding: 30px;
}


header h1 {
     height: 45px;
     font-size: 2.5em;
     font-family: Impact;
     float: left;
     
}


nav {
   float: right;


}

nav ul li {
	       padding-left:5px; 
	       display: inline-block;
	       font: Helvetica; 
}

aside {
       clear: both;
       
       font-family: Arial;
       font-weight: bold;
       font-size: 0.8em;
       line-height: 40px;
       float: left;
}

aside li
{list-style-type: none;
}

section {width: 707px;
          float: right;
}

article {font-family: Arial;
          font-size: 0.8em;
          line-height: 25px;

}

article h3 {font-family: Impact;
            font-size: 1.5em;
            margin-top: 10px;
}

article h5{font-family: Arial;
            font-weight: bold;
            font-size: 0.7em;
            margin-top: 10px;
          }

footer{clear: both;
        border-top: 1px black solid;
         }

footer h6 {font-family: Arial;
            font-weight: bold;
            font-size: 0.7em;
            margin-top: 10px;
            

}

a {text-decoration: none;
   color: black;
   font-weight: bold;
   font-family: arial;
   font-size: 0.9em;
}




@media screen and (max-width: 650px) {

 
header h1 { 
     float: none;
     
}


body {
  width: 90%;
}


aside {
       float: none;
       text-align: center;
}


section {

         width: 90%;
          float: none;
         margin: auto;
}

nav {
  display: none;
}




}
