.wrapper { width: 900px;
           margin: auto;
         }

header {height: 255px;
        background: url(../images/cafe_web.jpg); 
        background-repeat: no-repeat;

}

h1{padding-top: 50px;
  margin-left: 300px;
  padding-bottom: 30px;
}

nav{background-color: #230b03;
    height: 30px;
    text-align: center;
  }


nav ul li {padding: 8px;
  padding-left: 15px;
  font-family:Helvetica;
  font-size: 14px;
  color: #fff;
  display:inline-block;
  
}

a{text-decoration: none;
  color: #fff;


}

article { float: left;
  width: 300px;
  margin-left:100px; 


}


p { 
    font-family:Helvetica;
    color: #230b03;
    font-size: 12px;
    margin-top: 10px;
    padding-bottom: 10px;

}


 h2 {
    font-family: Helvetica;
    font-size: 25px;
     color: #230b03;
    margin-top: 30px;
}



footer{background-color:#230b03; 
clear: both;
height: 30px;

}

footer h4 {color: #fff;
 font-family: Helvetica;
 font-weight: lighter;
font-size: 12px;
padding: 10px;

}


